{% load static %}

<html>
    <head>
        <title>ovs_conf</title>
        <link rel="stylesheet" href="{% static 'ovs_conf/css/bootstrap.min.css' %}" >  
        <script src="{% static 'ovs_conf/jss/bootstrap.min.js' %}"></script>  
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href='CreateBridge'class="nav-link">CreateBridge</a>
                </li>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href='BridgeDetails'class="nav-link">BridgeDetails</a>
                </li>
                <li class="nav-item active">
                    <a href='BridgeList'class="nav-link">BridgeList</a>
                </li>
                <li class="nav-item active">
                    <a href='GenerateOvsConfiguration'class="nav-link">GenerateOvsConfiguration</a>
                </li>


               
            </ul>
                
       
        </nav>
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        
    </body>
</html>