{% extends 'ovs_conf/base.html'%}
{% block content %}

<div class="card">
   <div class="card-header">
     Add a new Bridge
   </div>
   <div class="card-body">
      <div class="form-group">
         <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create">
        </div>
   </div>
</div>
<div class="card">
   <div class="card-header">
      Existing bridges
   </div>
   <div class="card-body">
               <table class="table">
                  <tbody>
                     {% for bridge in bridges %}
                     <tr>
                        <td>
                           {{ bridge.name}}
                        </td>
                        <td align="right">
                          <a href="" class="btn btn-light">Edit</a> 
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
   </div>
</div>

{% endblock %}