{% extends 'ovs_conf/base.html'%}
{% block content %}
<form action="" method="post" novalidate>
   {% csrf_token %}
   <h3>VmConfiguration</h3>

      <div class="card">
         <div class="card-header">
            VM Creation
         </div>
         <div class="card-body">
            <div class="form-group" >
                {{ form.as_p }}
            </div>
         </div>
   <div class="card">
      <div class="card-header">
         Bridge to add to the configuration file
      </div>
         <div class="card-body">
            <table class="table">
               {{ formset.management_form }}
               <table>
                  {% for form in formset %}
                  <tr>
                        <td>
                           {{ form.select }}
                        </td>
                        <td>
                           {{form.bridge}}  
                        </td>
                        <td>
                           {{form.name}}
                        </td>
                        <td>
                           {{form.mac}}
                        </td>
                  </tr>
                  {% endfor %}
               </table>
            </table>
         </div>
         <input type="submit" value="create">
      </form>
      </div>
  

   
{% endblock %}