{% extends 'ovs_conf/base.html'%}
{% block content %}

          
<div class="card">
    <div class="card-header">
       Bridge to add to the configuration file
    </div>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="card-body">
                <table class="table">
                    <form method="post">
                        {{ formset.management_form }}
                        <table>
                            {% for form in formset %}
                            <tr>
                                <td>
                                    {{ form.select }}
                                </td>
                                <td>
                                    {{form.name}}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </form>
                </table>
                <input type="submit" value="generate_formset">
            </div>
        </form>
    </div>
{% endblock %}